<html>
  <head>
    <title>Product List</title>
  </head>
  <body>
    <h2>Product List</h2>
    <ul>
      {{#each products}}
        <li>{{this.title}} - {{this.price}}</li>
      {{/each}}
    </ul>
  </body>
</html>